.activity-area{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.activity-header{
    color: var(--greenColor);
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
.activity-header:hover{
    color: var(--goldColor);
    animation: shake 0.1s 2 ease;
    -webkit-animation: shake 0.1s 2 ease;
    -moz-animation: shake 0.1s 2 ease;
    -o-animation: shake 0.1s 2 ease;
}

.activity-content{
    width: 80%;
    padding: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.activity-card{
    height: 340px; 
    padding: 20px 15px 5px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.activity-card:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.activity-card:hover .act-img{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.act-img{
    width: 80px;
    height: 80px;
    padding: 17.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--darkWhite1);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--darkWhite2);
    animation: rotact 12s infinite ease-in-out alternate-reverse both;
}
@keyframes rotact {
    0%{
        border-radius:62% 38% 49% 51% / 57% 27% 73% 43%;
    }
    30%{
        border-radius:22% 78% 61% 39% / 36% 39% 61% 64%;
    }
    50%{
        border-radius:29% 71% 67% 33% / 57% 14% 86% 43%;
    }
    60%{
        border-radius:48% 52% 61% 39% / 68% 50% 50% 32%;
    }
    80%{
        border-radius:24% 76% 61% 39% / 28% 50% 50% 72%;
    }
    100%{
        border-radius:49% 51% 25% 75% / 57% 69% 31% 43%;
    }
}

.act-head{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.activity-card:hover .act-head{
    color: var(--goldColor);
}
.act-para{
    font-size: 13px;
    flex-grow: 1;
    line-height: 20px;
    text-align: justify;
}

.act-img img{
    width: 100%;
    position: sticky;
}

@media screen and (max-width: 1200px){
    .activity-content{
        width: 90%;
    }
}

@media screen and (max-width: 750px){
    .act-para{
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 350px){
    .activity-content{
        width: 95%;
    }
    .activity-content{
        grid-template-columns: auto;
        gap: 20px 0px;
    }
    .act-head{
        font-size: 14px;
        line-height: 20px;
    }
    .act-para{
        font-size: 10px;
        line-height: 20px;
    }
}