
.crousel{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.crousel-img{
    width: 100%; height: 100%;
}
.crousel-img img{
    width: 100%; height: 100%; object-fit: fill; 
    object-position: top;
}

.crousel-content{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.crousel-content h1{
    font-family: 'Prompt', serif;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: var(--whiteColor);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(199,204,207,1) 9%, rgba(255,255,255,1) 17%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
    -webkit-animation: bgPos 1s linear infinite;
    -moz-animation: bgPos 1s linear infinite;
    overflow: hidden;
    position: relative;
}

.company-info{
    width: 100%;
    height: 320px;
    background-color: var(--darkWhite2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-info p{
    font-size: 18px;
    font-weight: 300;
    width: 60%;
    max-height: 50%;
    text-align: center;
    word-break: keep-all;
}

.company-info a{
    background-color: var(--darkWhite1);
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 35px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    border: 1px solid var(--greenColor);
    outline: none;
    box-shadow: 3px 2px 10px  rgba(0, 0, 0, 0.2);
}

.company-info a:hover{
    background-color: var(--darkWhite2);
    color: var(--goldColor);
}

.company-info a:active{
    box-shadow: none;
}


@keyframes bgPos{
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}

@media screen and (max-width: 750px){
    .crousel{
        height: 300px;
    }
    .crousel-content h1{
        font-size: 60px;
        line-height: 60px;
    }

    .company-info{
        height: 300px;
    }

    .company-info p{
        width: 80%;
        font-size: 18px;
       line-height: 22px;
    }

    .company-info a{
        font-size: 20px;
        line-height: 22px;
    }
}

@media screen and (max-width: 450px){
    .crousel{
        height: 280px;
    }

    .crousel-content h1{
        font-size: 55px;
        line-height: 55px;
    }

    .company-info{
        height: 280px;
    }

    .company-info p{
        width: 90%;
        max-height: 80%;
        font-size: 16px;
       line-height: 22px;
    }

    .company-info a{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}