
.crousel{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    background-color: var(--greenColor);
}

.crousel-img{
    width: 100%; height: 100%;
}

.crousel-img img{
    width: 100%; height: 100%; 
    object-fit: cover; 
    object-position: top;
}

.crousel-content{
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* top: 75%;
    left: 50%;
    transform: translate(-75%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); */
}

.crousel-content h1{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-75%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    /* font-family: 'Prompt', serif; */
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: var(--whiteColor);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(199,204,207,1) 9%, rgba(255,255,255,1) 17%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
    -webkit-animation: bgPos 1s linear infinite;
    -moz-animation: bgPos 1s linear infinite;
    overflow: hidden;
    /* position: relative;ss */
}

.company-info{
    width: 100%;
    height: 250px;
    /* background-color: var(--darkWhite2); */
    background-color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.company-info p{
    width: 80% !important;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    width: 60%;
    max-height: 50%;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}

.box{
    margin-top: 35px;
    width: 150px;
    height: 40px;
    background-color: var(--whiteColor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
    cursor: pointer; text-transform: uppercase;
} .box:active h6 , .box:active , .box:active::before {color: var(--goldColor); box-shadow: none; animation: none; filter: brightness(100%);}

.a {
    color: black;
    font-weight: 500;
    text-align: center;
    z-index: 2;
    font-size: 15px;
}

.box::before {
    content: "";
    position: absolute;
    text-align: center;
    width: 25px;
    height: 200px;
    background: linear-gradient(180deg, var(--greenColor) 50%, var(--goldColor) 50%);
    border-radius: 25px;
    animation: rot 2s infinite ease-out;
}

.box::after {
    content: "";
    position: absolute;
    background: var(--whiteColor);
    width:145px;
    height: 34px;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes bgPos{
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}

@media screen and (max-width: 750px){
    .crousel{
        height: 300px;
    }
    .crousel-content h1{
        font-size: 60px;
        line-height: 60px;
    }

    .company-info{
        height: 300px;
    }

    .company-info p{
        width: 80%;
        font-size: 18px;
       line-height: 22px;
    }
    .a{
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 450px){
    .crousel{
        height: 280px;
    }

    .crousel-content h1{
        font-size: 55px;
        line-height: 55px;
    }

    .company-info{
        height: 320px;
    }

    .box{
        margin-top: 35px;
        width: 120px;
    }

    .company-info p{
        width: 90%;
        max-height: 80%;
        font-size: 16px;
       line-height: 22px;
    }

     .a{
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
    }
}