.career{
    margin:10px 0;
    background-color: var(--whiteColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    display: none;
}
.career-unhide{
    display: flex;
}

.career-heading{
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.career-heading:hover{
    color: var(--goldColor);
    animation: shake 0.1s 2 ease;
    -webkit-animation: shake 0.1s 2 ease;
    -moz-animation: shake 0.1s 2 ease;
}

.career-container{
    padding: 10px;
    width: 80%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
}

.job-card{
    background-color: var(--whiteColor);
    border-left: 2.5px solid var(--goldColor);
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* margin: 0 10px 10px 0; */
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.job-card:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2),2px 5px 10px rgba(0, 0, 0, 0.1), 
    0 0 10px rgba(0, 0, 0, 0.1);
}

.job-vacancy{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: var(--goldColor);
}

.job-quali{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

.job-desc{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
}

.job-para{
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
}

.apply-job{
    margin-top: 5px;
    width: 100px;
    height: 25px;
    background-color: var(--whiteColor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.1);
    cursor: pointer; text-transform: uppercase;
}

.apply-job:active h6 , .apply-job:active , .apply-job:active::before {color: var(--goldColor); box-shadow: none; animation: none; filter: brightness(100%);}

.apply-link {
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    z-index: 5 ;
    font-size: 12px;
}

.apply-job::before {
    content: "";
    position: absolute;
    text-align: center;
    width: 15px;
    height: 150px;
    background: linear-gradient(180deg, var(--greenColor) 50%, var(--goldColor) 50%);
    border-radius: 25px;
    animation: rot 2s infinite ease-out;
}

.apply-job::after {
    content: "";
    position: absolute;
    background: var(--whiteColor);
    width:96px;
    height: 20px;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.job-inactive{
    border-left: 2.5px solid red !important;
}

.job-inactive .apply-job, .job-inactive .apply-job::before {background: red !important; }

.job-card:nth-child(odd){
    border-left: 2px solid var(--greenColor);
}

@media screen and (max-width: 400px) {
    .career-container{
        width: 90%;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    .job-vacancy{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
    }
    
    .job-quali{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 18px;
    }
    
    .job-desc{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
    }
    
    .job-para{
        font-size: 12px;
        line-height: 18px;
        text-align: justify;
    }
}

@media screen and (max-width: 300px) {
    .career-container{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    .job-vacancy{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 18px;
    }
    
    .job-quali{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 18px;
    }
    
    .job-desc{
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
    }
    
    .job-para{
        font-size: 12px;
        line-height: 18px;
        text-align: justify;
    }
}