
.crousel{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    background-color: var(--darkWhite2);
}

/* .crousel-img{
    width: 100%; height: 100%;
} */

/* .crousel-img img{
    width: 100%; height: 100%; 
    object-fit: cover; 
    object-position: top;
}  */

@font-face {
    font-family: "style";
    src: url(../fonts/CinzelDecorative-Bold.ttf);
}

.crousel-head{
    width: 100%; height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #dfe6e9; */
    background-color: rgb(32, 35, 48);
} 

.no-wait{
    display: none !important;
}

.crousel-head h1{
    font-family: style, sans-serif;
    font-size: 80px;
    line-height: 90px;
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(199,204,207,1) 9%, rgba(255,255,255,1) 17%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
    -webkit-animation: bgPos 1s linear infinite;
    -moz-animation: bgPos 1s linear infinite;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none !important;
    transition: all 0.2s ease !important;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
}

.wait{
    display: block !important;
}

.slide img{
    width: 100%; height: 100%; 
    object-fit: cover; 
    object-position: top;
    animation: zoom 10s ease-in infinite;
    -webkit-animation: zoom 10s ease-in infinite;
    -moz-animation: zoom 10s ease-in infinite;
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
}

@keyframes zoom{
    50%{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
    }
   
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}


.crousel-content{
    z-index: 2;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* top: 75%;
    left: 50%;
    transform: translate(-75%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); */
}

.crousel-content h1{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-75%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    /* font-family: 'Prompt', serif; */
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: var(--whiteColor);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(199,204,207,1) 9%, rgba(255,255,255,1) 17%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
    -webkit-animation: bgPos 1s linear infinite;
    -moz-animation: bgPos 1s linear infinite;
    overflow: hidden;
    /* position: relative;ss */
}

.company-info{
    width: 100%;
    height: 180px;
    /* background-color: var(--darkWhite2); */
    background-color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

marquee{
   /* outline: 1px solid; */
   color: var(--greenColor);
   background-color: var(--darkWhite2);
   padding: 10px 0;
}

.company-info p{
    width: 80% !important;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    width: 60%;
    max-height: 50%;
    text-align: center;
}

.box{
    width: 120px;
    height: 25px;
    background-color: var(--whiteColor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
    cursor: pointer; text-transform: uppercase;
} 
.box:active h6 , .box:active , .box:active::before {color: var(--goldColor); box-shadow: none; animation: none; filter: brightness(100%);}

.a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    z-index: 2;
    font-size: 15px;
}

.box::before {
    content: "";
    position: absolute;
    text-align: center;
    width: 15px;
    height: 150px;
    background: linear-gradient(180deg, var(--greenColor) 50%, var(--goldColor) 50%);
    border-radius: 25px;
    animation: rot 2s infinite ease-out;
}

.box::after {
    content: "";
    position: absolute;
    background: var(--whiteColor);
    width:115px;
    height: 20px;
}

.blck{
    color: var(--black);
    font-weight: 800;
}
.gold-c{
    color: var(--goldColor);
}

.clr-red{
    color: red;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes bgPos{
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}


/* ------------animation for RoyalMac SVG Text-------------------------------- */
#logo{
    stroke: 5px solid #FFF;
    animation: fill 2s ease forwards 1.5s;
}

#logo path:nth-child(1){
  stroke-dasharray: 355px;
  stroke-dashoffset: 355px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 261px;
  stroke-dashoffset: 261px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(3){
stroke-dasharray: 355px;
  stroke-dashoffset: 355px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(4){
stroke-dasharray: 646px;
  stroke-dashoffset: 646px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(5){
stroke-dasharray: 445px;
  stroke-dashoffset: 445px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(6){
stroke-dasharray: 434px;
  stroke-dashoffset: 434px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(7){
stroke-dasharray: 335px;
  stroke-dashoffset: 335px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(8){
stroke-dasharray: 631px;
  stroke-dashoffset: 631px;
  animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: #C3996B;
    }
}

@media screen and (max-width: 750px){
    .crousel{
        height: 300px;
    }

    .crousel-head h1{
        font-size: 50px;
        line-height: 60px;
    }

    .crousel-content h1{
        font-size: 60px;
        line-height: 60px;
    }

    .company-info{
        height: 300px;
    }

    .company-info p{
        width: 80%;
        font-size: 18px;
       line-height: 22px;
       text-align: justify;
    }
    .a{
        font-size: 12px;
        line-height: 22px;
    }
    
}

@media screen and (max-width: 450px){
    .slide img{
        object-position: center !important;
    }

    .crousel-head h1{
        font-size: 40px;
        line-height: 50px;
    }

    .crousel{
        height: 280px;
    }

    .crousel-content h1{
        font-size: 55px;
        line-height: 55px;
    }

    .company-info{
        /* outline: 1px solid; */
        height: 250px;
    }

    .company-info p{
        width: 90%;
        max-height: 80%;
        font-size: 16px;
       line-height: 22px;
       text-align: justify;
    }

     .a{
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
    }
}