
.crousel{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    background-color: var(--darkWhite2);
    
    margin-top: 100px;
}

@font-face {
    font-family: "style";
    src: url(../fonts/CinzelDecorative-Bold.ttf);
}

.crousel-head{
    width: 100%; height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #dfe6e9; */
    /* background-color: rgb(32, 35, 48); */
    background-color: rgb(11, 44, 11);
} 

.no-wait{
    display: none !important;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none !important;
    transition: all 0.2s ease !important;
    -webkit-transition: all 0.2s ease !important;
    -moz-transition: all 0.2s ease !important;
}

.wait{
    display: block !important;
}

.slide img{
    width: 100%; height: 100%; 
    object-fit: cover; 
    object-position: top;
    animation: zoom 10s ease-in infinite;
    -webkit-animation: zoom 10s ease-in infinite;
    -moz-animation: zoom 10s ease-in infinite;
    transition: transform 1s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
}

@keyframes zoom{
    50%{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
    }
   
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
}



marquee{
   color: var(--greenColor);
   background-color: var(--darkWhite2);
   padding: 10px 0;
}


.box{
    width: 120px;
    height: 25px;
    background-color: var(--whiteColor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
    cursor: pointer; text-transform: uppercase;
} 
.box:active h6 , .box:active , .box:active::before {color: var(--goldColor); box-shadow: none; animation: none; filter: brightness(100%);}

.a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    z-index: 2;
    font-size: 15px;
}

.box::before {
    content: "";
    position: absolute;
    text-align: center;
    width: 15px;
    height: 150px;
    background: linear-gradient(180deg, var(--greenColor) 50%, var(--goldColor) 50%);
    border-radius: 25px;
    animation: rot 2s infinite ease-out;
    -webkit-animation: rot 2s infinite ease-out;
    -moz-animation: rot 2s infinite ease-out;
    -o-animation: rot 2s infinite ease-out;
}

.box::after {
    content: "";
    position: absolute;
    background: var(--whiteColor);
    width:115px;
    height: 20px;
}

.blck{
    color: var(--black);
    font-weight: 800;
}
.gold-c{
    color: var(--goldColor);
}

.clr-red{
    color: red;
}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes bgPos{
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}


/* ------------animation for RoyalMac SVG Text-------------------------------- */
#logo{
    stroke: 5px solid #FFF;
    animation: fill 2s ease forwards 1.7s;
    -webkit-animation: fill 2s ease forwards 1.7s;
    -moz-animation: fill 2s ease forwards 1.7s;
    -o-animation: fill 2s ease forwards 1.7s;
    width:540px !important;
}

#logo path:nth-child(1){
  stroke-dasharray: 355px;
  stroke-dashoffset: 355px;
  animation: line-anim 2.5s ease forwards;
  -webkit-animation: line-anim 2.5s ease forwards;
  -moz-animation: line-anim 2.5s ease forwards;
  -o-animation: line-anim 2.5s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 261px;
  stroke-dashoffset: 261px;
  animation: line-anim 2.5s ease forwards;
  -webkit-animation: line-anim 2.5s ease forwards;
  -moz-animation: line-anim 2.5s ease forwards;
  -o-animation: line-anim 2.5s ease forwards;
}
#logo path:nth-child(3){
stroke-dasharray: 355px;
  stroke-dashoffset: 355px;
  animation: line-anim 2.5s ease forwards;
  -webkit-animation: line-anim 2.5s ease forwards;
  -moz-animation: line-anim 2.5s ease forwards;
  -o-animation: line-anim 2.5s ease forwards;
}
#logo path:nth-child(4){
stroke-dasharray: 646px;
  stroke-dashoffset: 646px;
  animation: line-anim 2.5s ease forwards;
  -webkit-animation: line-anim 2.5s ease forwards;
  -moz-animation: line-anim 2.5s ease forwards;
  -o-animation: line-anim 2.5s ease forwards;
}
#logo path:nth-child(5){
stroke-dasharray: 445px;
  stroke-dashoffset: 445px;
  animation: line-anim 2.5s ease forwards;
  -webkit-animation: line-anim 2.5s ease forwards;
  -moz-animation: line-anim 2.5s ease forwards;
  -o-animation: line-anim 2.5s ease forwards;
}
#logo path:nth-child(6){
stroke-dasharray: 434px;
  stroke-dashoffset: 434px;
  animation: line-anim 2.5s ease forwards;
  -webkit-animation: line-anim 2.5s ease forwards;
  -moz-animation: line-anim 2.5s ease forwards;
  -o-animation: line-anim 2.5s ease forwards;
}
#logo path:nth-child(7){
stroke-dasharray: 335px;
  stroke-dashoffset: 335px;
  animation: line-anim 2.5s ease forwards;
  -webkit-animation: line-anim 2.5s ease forwards;
  -moz-animation: line-anim 2.5s ease forwards;
  -o-animation: line-anim 2.5s ease forwards;
}
#logo path:nth-child(8){
stroke-dasharray: 631px;
  stroke-dashoffset: 631px;
  animation: line-anim 2.5s ease forwards;
  -webkit-animation: line-anim 2.5s ease forwards;
  -moz-animation: line-anim 2.5s ease forwards;
  -o-animation: line-anim 2.5s ease forwards;
}

@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: #C3996B;
    }
}

@media only screen and (max-width:1050px) {
    .crousel{
        margin-top: 80px !important;
    }
}

@media screen and (max-width: 750px){
    .crousel{
        height: 300px;
    }
    #logo{
        width: 300px !important; height: 100%; 
    }
    .crousel-head h1{
        font-size: 50px;
        line-height: 60px;
    }

    .crousel-content h1{
        font-size: 60px;
        line-height: 60px;
    }

    #lineBreak::before{
        content: "\a\a";
        white-space: pre;
    }

    .a{
        font-size: 12px;
        line-height: 22px;
    }
    
}

@media screen and (max-width: 450px){
    .slide img{
        object-position: center !important;
    }
    #logo{
        width: 250px !important; height: 100%; 
    }

    .crousel-head h1{
        font-size: 40px;
        line-height: 50px;
    }

    .crousel{
        height: 280px;
    }

    .crousel-content h1{
        font-size: 55px;
        line-height: 55px;
    }


     .a{
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
    }
}