#commodity{
    margin-top: 30px;
}
.commodity{
    margin:50px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.cm-heading{
    color: var(--greenColor);
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.cm-heading:hover{
    color: var(--goldColor);
    animation: shake 0.1s 2 ease;
    -webkit-animation: shake 0.1s 2 ease;
    -moz-animation: shake 0.1s 2 ease;
}

.cm-content{
    width: 80%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px 20px;
}

.cm-card{
    height: 380px;
    position: relative;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.cm-ani-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: clip-path 0.2s ease !important;
    animation: clipAni 10s ease-in-out infinite 2s;
    overflow: hidden;
}
@keyframes clipAni {
    35%{
        transition: clip-path 0.2s ease !important;
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
    60%{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    90%{
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    100%{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}
.cm-ani-content h1{
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(0, 0, 0,1) 10%, rgba(255,255,255,0.9) 20%);
    background-size: 200% 100%;
    animation: bgPos 2s linear infinite;
    -o-animation: bgPos 2s linear infinite;
    -webkit-animation: bgPos 2s linear infinite;
    -moz-animation: bgPos 2s linear infinite;
}

.cm-card:nth-child(1) ,.cm-card:nth-child(1) .cm-img , .cm-card:nth-child(1) .cm-card-content, .cm-card:nth-child(1) .cm-ani-content{
    border-radius: 50px 0px 0 0px;
}
.cm-card:nth-child(2) ,.cm-card:nth-child(2) .cm-img , .cm-card:nth-child(2) .cm-card-content , .cm-card:nth-child(2) .cm-ani-content{
    border-radius: 50px 0px 0 0px;
}
.cm-card:nth-child(3) ,.cm-card:nth-child(3) .cm-img , .cm-card:nth-child(3) .cm-card-content , .cm-card:nth-child(3) .cm-ani-content{
    border-radius: 50px 0px 0 0px;
}
.cm-card:nth-child(4) ,.cm-card:nth-child(4) .cm-img , .cm-card:nth-child(4) .cm-card-content , .cm-card:nth-child(4) .cm-ani-content{
    border-radius: 0px 50px 0 0px;
}
.cm-card:nth-child(5) ,.cm-card:nth-child(5) .cm-img , .cm-card:nth-child(5) .cm-card-content , .cm-card:nth-child(5) .cm-ani-content{
    border-radius: 0px 50px 0 0px;
}
.cm-card:nth-child(6) ,.cm-card:nth-child(6) .cm-img , .cm-card:nth-child(6) .cm-card-content , .cm-card:nth-child(6) .cm-ani-content{
    border-radius: 0px 50px 0 0px;
}

.cm-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cm-img img{
    width: 100%;
    display: inline-block;
    vertical-align : middle;
    height: 100% !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cm-card-content{
    width: 90%;
    height: 30%;
    background-color: var(--whiteColor);
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.cm-card:hover .cm-card-content{
    background-color: var(--darkWhite1);
}
.cm-info{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}
.cm-card-heading{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.cm-card:hover .cm-card-heading{
    color: var(--goldColor);
}

@media screen and (max-width: 1200px){
    .cm-content{
        width: 90%;
    }
}

@media screen and (max-width: 750px){
    .cm-info{
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 350px){
    .cm-content{
        width: 95%;
        grid-template-columns: auto;
        gap: 80px 0px;
    }
    .cm-heading{
        font-size: 14px;
        line-height: 20px;
    }
    .cm-card-heading{
        font-size: 14px;
        line-height: 20px; 
    }
    .cm-info{
        font-size: 10px;
        line-height: 18px;
    }
}