.company-info{
    width: 100%;
    margin: 10px 0px 40px 0px;
    background-color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.company-info-container{
    width: 80%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.cmp-heading{
    align-self: flex-start;
}
.cmp-heading svg{
    max-width: 100px !important;
}

.cmp-info{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    max-height: 50%;
    text-align: justify;
}
.company-msg-content{
    width: 80%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px 15px;
}
.company-msg{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.company-msg:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
}
.c-msg-heading{
    text-align: left;
    color: var(--greenColor);
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}

.c-msg-heading::after{
    position: absolute;
    content: "";
    width: 10%;
    height: 2px !important;
    border-radius: 25px;
    background: var(--goldColor);
    top: 100%;
    left: 0%;
}

.c-msg-para{
    font-size: 16px;
    line-height: 24px;
    text-align:justify;
}
@media screen and (max-width: 750px){
    .company-info{
        margin: 10px 0px 35px 0px;
    }
    .company-info-container{
        width: 90%;
    }
    .cmp-info{
        font-size: 18px;
       line-height: 22px;
       text-align: justify;
    }

    #lineBreak::before{
        content: "\a\a";
        white-space: pre;
    }

    .company-msg-content{
        width: 90%;
        grid-template-columns: auto;
        grid-gap: 15px 0px !important;
        padding: 10px !important;
    }
   
}

@media screen and (max-width: 450px){
    .company-info{
        margin: 10px 0px 30px 0px;
        }
    .company-info-container{
        width: 95%;
        padding: 0px !important;
        overflow: hidden;
    }
    .cmp-heading{
        padding-left: 10px;
    }
   
    .cmp-info{
       padding: 10px;
       padding-top: 0px;
       max-height: 80%;
       font-size: 16px;
       line-height: 22px;
       text-align: justify;
    }
    .company-msg-content{
        width: 95%;
        grid-gap: 15px 0px !important;
    }
    .company-msg{
        width: 100%;
        row-gap: 15px;
    }
    .c-msg-heading{
        font-size: 20px;
        line-height: 28px;
    }
    .c-msg-para{
        font-size: 16px;
       line-height: 22px;
    }
}
