.company-info{
    width: 100%;
    margin: 40px 0;
    background-color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.company-info-container{
    width: 80%;
    padding: 10px;
    overflow: hidden;
}
.cmp-info{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    max-height: 50%;
    text-align: justify;
}
.company-msg-content{
    width: 80%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px 15px;
}
.company-msg{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.company-msg:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
}
.c-msg-heading{
    text-align: left;
    color: var(--greenColor);
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}

.c-msg-heading::after{
    position: absolute;
    content: "";
    width: 10%;
    height: 2px;
    border-radius: 10px;
    background: var(--goldColor);
    top: 100%;
    left: 0%;
}

.c-msg-para{
    font-size: 16px;
    line-height: 24px;
    text-align:justify;
}

.company-msg span{
    position: absolute;
    display: block;
    border-radius: 50%;
}
.company-msg span:nth-child(1){
    top: 0;
    left: 0;
    height: 3px;
    width: calc(100% - 3px);
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(90deg, rgba(41,111,52,1) 0%, rgba(195,153,107,1) 100%);
}
 
.company-msg span:nth-child(2){
    top: 0;
    right: 0;
    width: 3px;
    height: calc(100% - 3px);
    opacity: 0.3;
    transform: scaleY(0);
    transform-origin: top;
    background: linear-gradient(180deg, rgba(41,111,52,1) 0%, rgba(195,153,107,1) 100%);
}

.company-msg span:nth-child(3){
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: right;
    background: linear-gradient(90deg, rgba(195,153,107,1) 0%, rgba(41,111,52,1) 100%);
}

.company-msg span:nth-child(4){
    top: 0;
    left: 0;
    width: 3px;
    height: calc(100% - 3px);
    opacity: 0.3;
    transform: scaleY(0);
    transform-origin: bottom;
    background: linear-gradient(180deg, rgba(195,153,107,1) 0%, rgba(41,111,52,1) 100%);
}


@media screen and (max-width: 750px){
    .company-info{
            margin: 35px 0;
    }
    .company-info-container{
        width: 90%;
    }
    .cmp-info{
        font-size: 18px;
       line-height: 22px;
       text-align: justify;
    }

    #lineBreak::before{
        content: "\a\a";
        white-space: pre;
    }

    .company-msg-content{
        width: 90%;
        grid-template-columns: auto;
        grid-gap: 15px 0px;
    }
   
}

@media screen and (max-width: 450px){
    .company-info{
            margin: 30px 0;
        }
    .company-info-container{
        width: 95%;
        padding: 0;
    }
    .cmp-info{
       padding: 10px;
       max-height: 80%;
       font-size: 16px;
       line-height: 22px;
       text-align: justify;
    }
    .company-msg-content{
        width: 95%;
        grid-gap: 15px 0px;
    }
    .company-msg{
        row-gap: 15px;
    }
    .c-msg-para{
        font-size: 16px;
       line-height: 22px;
    }
}
