.confedential{
    margin:30px 0;
    /* background-color: var(--darkWhite2); */
    background-color: var(--whiteColor);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 30px 0;
}
.confi-heading{
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.confi-heading:hover{
    color: var(--goldColor);
    animation: shake 0.1s 2 ease;
    -webkit-animation: shake 0.1s 2 ease;
    -moz-animation: shake 0.1s 2 ease;
}

.confi-content{
    /* outline: 1px solid; */
    width: 80% !important;
    /* display: flex;
    justify-content: space-between; */
    padding: 10px;    
}
.pop
,.account-info
,.company-docs{
    /* outline: 1px solid; */
    /* max-width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2),4px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    height: 300px;
    margin: 20px 0;
    position: relative;
}

.pop-img{
    width: 100%;
    height: 230px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(126deg, rgba(255,255,255,1) 12%, rgba(249,247,241,1) 22%, rgba(255,255,255,1) 31%, rgba(244,243,238,1) 42%, rgba(255,255,255,1) 51%, rgba(245,244,240,1) 63%, rgba(255,255,255,1) 73%, rgba(244,242,238,1) 83%, rgba(255,255,255,1) 92%, rgba(255,255,255,1) 100%);
}

/* .pop-img{
    height: 200px;
} */

.acc-img, .comp-img{
    /* outline: 1px solid; */
    height: 250px;
    width: 100%;
    /* width: 300px; */
    background-color: var(--whiteColor) !important;   
    border-radius: 5px;
    overflow: hidden; 
    position: relative;
}

.acc-img img, .comp-img img{
   max-width: 100% !important;
   height: 100%;
   object-fit: contain;
   object-position: center;
}

/* .pop-sub{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
} */
.pop-p{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pop-sub{
  width: 94px;
  height: 94px;
  background: radial-gradient(circle, rgba(41,111,52,1) 50%, rgba(195,153,107,0.4) 52%);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.pop-sub::after{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  -webkit-transform: translateX(-40%) translateY(-50%);
  -moz-transform: translateX(-40%) translateY(-50%);
  -o-transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #C3996B;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.pop-sub::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -moz-animation: pulsate-btn 2s;
    -o-animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -moz-animation-direction: forwards;
    -o-animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    -moz-animation-timing-function: steps;
    -o-animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid #C3996B;
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.pop-sub:hover::after {
    border-left: 15px solid #296f34;
    transform: scale(20);
}

.pop-sub:hover::before {
content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  -webkit-transform: translateX(-40%) translateY(-50%);
  -moz-transform: translateX(-40%) translateY(-50%);
  -o-transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #C3996B;
  z-index: 200;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      -webkit-transform: scale(0.6, 0.6);
      -o-transform: scale(0.6, 0.6);
      -moz-transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      opacity: 0;
    }
  }

  @keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        -webkit-transform: scale(0.6, 0.6);
        -o-transform: scale(0.6, 0.6);
        -moz-transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        opacity: 0;
    }
  }

.conf-sub-head{
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}

.conf-sub-head:hover{
    color: var(--goldColor);
}

.conf-download{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color: blue;
    cursor: pointer;
}

.conf-download:hover{
    color: rgb(8, 8, 185);
}

.down-content, .down-content1, .down-content2, .down-content3{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.down-content img, .down-content1 img, .down-content2 img, .down-content3 img{
    width: 100px;
    height: 100px;
    opacity: 0.7;
    margin-bottom: 5px;
}

.down-content input, .down-content1 input, .down-content2 input, .down-content3 input{
    font-size: 12px;
    line-height: 12px;
    padding: 2px 5px;
    border-radius: 5px;
    outline: none;
}

.down-content .close, .down-content1 .close1, .down-content2 .close2, .down-content3 .close3{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 88%;
    top: -10%;
    cursor: pointer;
}

.close, .close1, .close2, .close3{
    border: 1px solid #FFF !important;
}

.down-content-show{
    display: flex;
}

@media screen and (max-width:900px){
    .conf-sub-head{
        font-size: 14px;
        line-height: 14px;
        margin: 10px;
    }
}

@media screen and (max-width:750px){
    .confi-content{
        width: 70% !important;
    }
    .conf-sub-head{
        font-size: 12px;
        line-height: 12px;
        margin: 10px;
    }
    .conf-download{
        font-size: 10px;
        line-height: 10px;
    }
}

@media screen and (max-width:3750px){
    .confi-content{
        width: 80% !important;
    }
    .pop
    ,.account-info
    ,.company-docs{
    margin: 10px 0;
   }
}