.contact-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.clr-black{
    color: var(--greenColor);
}

.clr-black:hover{
    color: var(--goldColor) !important;
}

.contact-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.c-body-container{
    /* outline: 1px solid; */
    margin: 20px 0;
    padding: 10px;
    width: 85%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.contact-form{
    background: rgb(255,255,255);
    width: 30%;
    padding: 10px;
}

.contact-form form{
    background: rgb(255,255,255);
    width: 100% !important;
    padding: 10px;
    border-radius: 5px;
    max-height: 405px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 2px 3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.c-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    margin-bottom: 15px;
}

.c-row label{
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
}

.c-row input, textarea{
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
    line-height: 18px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #1ECD97;
}

.c-row textarea{
    height: 100px;
    resize: none;
}

.c-row input:focus{
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
}
.c-row textarea:focus{
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
}

.errorMsg{
    color: red;
    font-size: 12px;
    line-height: 12px;
}

button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border: 2px solid #1ECD97;
    color:#1ECD97;
    letter-spacing:1px;
    text-shadow:0;
    font-size:12px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

button:hover{
    color:white;
    background: #1ECD97;
}

button:active{
    letter-spacing: 2px ;
}

button::after{
    content:"SUBMIT";
}
   
  .onclic {
    width: 40px;
    border-color:#bbbbbb;
    border-width:3px;
    font-size:0;
    border-left-color :#1ECD97;
    animation: rotating 2s 0.25s linear infinite;
  }

 .onclic::after{
     content: "";
 }
 .onclic::after:hover{
    color:#1ECD97;
    background: white;
 }

  .validate {
    font-size:13px;
    color: white;
    background: #1ECD97;
  }
  .validate::after{
    font-family:'FontAwesome';
    content:"Thank You";
  }
  
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.contact-body{
    /* outline: 1px solid; */
    align-self: flex-start !important;
    width: 70%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-heading{
    align-self: flex-start;
}

.c-heading h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.c-heading h3:hover{
    color: var(--goldColor);
    animation: shake 0.1s 2 ease;
    -o-animation: shake 0.1s 2 ease;
    -webkit-animation: shake 0.1s 2 ease;
    -moz-animation: shake 0.1s 2 ease;
}

.c-para{
    width: 100%;
    margin: 10px 0;
}
.co-reason{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 2px 3px 5px rgba(0, 0, 0, 0.1);
}
.co-right p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: justify;
}
.co-reason p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 7.5px;
    text-align: justify;
}

@media screen and (max-width:1000px) {
    .contact-form{
        width: 40% !important;
    }
    .contact-body{
        width: 60% ;
    }  
}

@media screen and (max-width:750px) {
    .c-body-container{
        width: 90%;
    }
    .c-body-container{
        margin: 20px 0;
        width: 80%;
        flex-direction: column;
        align-items: center;
        column-gap: 0px;
        row-gap: 15px;
    }
    .contact-body{
        width: 100% ;
    }
    .contact-form{
        width: 100% !important;
    }  
}

@media screen and (max-width:450px) {
    .c-body-container{
        width: 95%;
    }
    .c-body-container{
        padding: 0;
    }
    .contact-body{
        width: 100% ;
    }
    .contact-form{
        width: 100% !important;
        margin-bottom: 10px;
    }  
    .co-right p, .co-reason p{
        font-size: 14px;
        line-height: 18px;
    }
    .c-heading h3{
        font-size: 16px;
        line-height: 20px;
    }
    .c-row label{
        font-size: 12px;
        line-height: 14px;
    }
    .c-row input, textarea{
        padding: 6px 8px;
        font-size: 12px;
        line-height: 14px;
    }
    button {
        margin-top: 8px;
        height: 30px;
        width: 110px;
        font-size:12px;
    }
    .onclic {
        width: 30px;
        border-width:2px;
      }
      .validate {
        font-size:12px;
      }
      #save{
        font-size: 13px;
        line-height: 13px;
    }
}

@media screen and (max-width:350px) {
    .contact-form{
        width: 100% !important;
    }  
    .co-right p, .co-reason p{
        font-size: 12px;
        line-height: 16px;
    }
    .c-heading h3{
        font-size: 14px;
        line-height: 18px;
    }
    .c-row label{
        font-size: 12px;
        line-height: 14px;
    }
    .c-row input, textarea{
        padding: 6px 8px;
        font-size: 12px;
        line-height: 14px;
    }
    button {
        margin-top: 8px;
        height: 30px;
        width: 110px;
        font-size:12px;
    }
    .onclic {
        width: 30px;
        border-width:2px;
      }
      .validate {
        font-size:12px;
      }
      #save{
        font-size: 13px;
        line-height: 13px;
    }
    
}