.footer{
    width: 100%;
    /* height: 100px; */
    padding: 0 0 30px 0;
    background-color: var(--darkWhite2);
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    overflow: hidden;
}

.footer img{
    width: 50px;
}

.footer .footer-text{
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width:600px) {
    .footer{
        padding: 0 0 30px 0;
        /* height: 80px; */
    }
    .footer .footer-text{

    }
}