.busines-group{
    margin:10px 0;
    background-color: var(--whiteColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.grp-header{
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.grp-header:hover{
    color: var(--goldColor);
    animation: shake 0.1s 2 ease;
    -webkit-animation: shake 0.1s 2 ease;
    -moz-animation: shake 0.1s 2 ease;
}

@keyframes shake {
    0%{
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -moz-transform: translateX(2px);
    }
    100%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
    }
}

.line{
    margin: 25px 0;
    width:100px;
    height: 2px;
    border-radius: 15px;
    background-color: var(--greenColor);
}

.business-grp-content{
    width: 75% !important;
    position: relative;
}

a{
    text-decoration: none;
}

#construction{
        transform: scale(0.8);
}

.grp-card{
    /* auto width for each assigned in owl carousel */
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.card-img img{
    width: 100%;
    height: 100%;
    
}

.card-header{
    margin: 20px 0 10px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

.card-header a{
    text-decoration: none;
    color: var(--black);
}

.card-header a:hover{
    font-weight: 400;
    color: var(--goldColor);
}

.owl-nav{
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-30%);
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-nav button span{
    font-size: 62px;
    font-weight: 300;
    color: var(--darkWhite1);
}
.owl-nav button span:hover{
    color: var(--goldColor);
}

.owl-dots{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-dots .owl-dot{
    outline: 1px solid var(--greenColor);
    display: inline-block;
    width: 15px;
    height: 1px;
    margin-right: 5px;
    background-color: var(--greenColor);
    z-index: 5;
    border-radius: 15px;
}

.owl-dots .owl-dot.active{
    background-color: var(--greenColor);
}

@media screen and (min-width: 1010px){
    .owl-nav{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }
}

@media screen and (max-width: 750px){
    .grp-header{
        font-size: 24px;
        line-height: 28px;
    }
     
    .grp-card{
        margin-right: 0;
    }

    .card-header{
        font-size: 16px;
        line-height: 20px;
    }

    .business-grp-content{
        width: 70% !important;
    }
    
}

@media screen and (max-width: 450px){
    .grp-header{
        font-size: 20px;
        line-height: 24px;
    }

    .card-header{
        font-size: 14px;
        line-height: 18px;
    }

    .grp-card{
        margin-right: 0;
    }

    .business-grp-content{
        width: 60% !important;
    }
}

@media screen and (max-width:375px) {
    .grp-header{
        font-size: 16px;
        line-height: 20px;
    }
}