.busines-group{
    margin: 10px 0;
    background-color: var(--whiteColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.grp-header{
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.grp-header:hover{
    color: var(--goldColor);
    animation: shake 0.1s 2 ease;
    -webkit-animation: shake 0.1s 2 ease;
    -moz-animation: shake 0.1s 2 ease;
}

@keyframes shake {
    0%{
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -moz-transform: translateX(2px);
    }
    100%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
    }
}

.line{
    margin: 25px 0;
    width:100px;
    height: 2px;
    border-radius: 15px;
    background-color: var(--greenColor);
}

.business-grp-content{
    width: 80% !important;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(calc(100% / 3 - 20px), 450px));
    overflow: hidden;
}
.business-grp-content a{
    padding: 20px;
    text-decoration: none;
    perspective: 4000px;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}
.buss-web-crd{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s ease-in-out;
    -webkit-transition: transform 2s ease-in-out;
    -moz-transition: transform 2s ease-in-out;
    -o-transition: transform 2s ease-in-out;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.buss-web-crd.active{
    transition: transform 2.5s;
    -webkit-transition: transform 2.5s;
    -moz-transition: transform 2.5s;
    -o-transition: transform 2.5s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
.buss-crd-front{
    height: 100% !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buss-crd-back{
    height: 100%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    background-color: var(--greenColor) !important;
}
.buss-crd-front,
.buss-crd-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: var(--whiteColor);
}
.buss-crd-back-face{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
}
.buss-crd-back img{
    width: 55%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate3d(0,0,65px);
    -webkit-transform: translate3d(0,0,65px);
    -moz-transform: translate3d(0,0,65px);
    -o-transform: translate3d(0,0,65px);
    background-color: transparent;
}
.buss-vedio{
    width: 100%;
    max-height: 100% !important;
    overflow: hidden;
}
.buss-vedio video{
    border: 1px solid var(--greenColor);
    width: 100%;
    height: auto !important;
    margin-bottom: 10px;
}
.web-crd-heading{
    width: 100%;
    align-self: flex-start;
}
.web-crd-heading h6{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--greenColor);
    font-weight: 400;
}
.buss-web-crd:hover .web-crd-heading h6{
    color: var(--goldColor);
}

a{
    text-decoration: none;
}

#construction{
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
}

.owl-nav{
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -o-transform: translateY(-30%);
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-nav button span{
    font-size: 62px;
    font-weight: 300;
    color: var(--darkWhite1);
}
.owl-nav button span:hover{
    color: var(--goldColor);
}

.owl-dots{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none !important;
}
/* 
.owl-dots .owl-dot{
    outline: 1px solid var(--greenColor);
    display: inline-block;
    width: 15px;
    height: 1px;
    margin-right: 5px;
    background-color: var(--greenColor);
    z-index: 5;
    border-radius: 15px;
}

.owl-dots .owl-dot.active{
    background-color: var(--greenColor);
} */

@media only screen and (max-width : 1300px){
    .business-grp-content{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: center;
    }
}

@media screen and (max-width: 750px){
    .grp-header{
        font-size: 24px;
        line-height: 26px;
    }
    .business-grp-content{
        width: 90% !important;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: center;
    }
    .business-grp-content a{
        width: 400px;
        min-height: 250px;
        overflow: hidden;
    }
    .web-crd-heading h6{
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 450px){
    .grp-header{
        font-size: 22px;
        line-height: 24px;
    }
    .business-grp-content{
        width: 95% !important;
    }
    .business-grp-content a{
        width: 100%;
        min-height: 270px;
        overflow: hidden;
    }
    .web-crd-heading h6{
        font-size: 14px;
        line-height: 20px;
    }

}
