.busines-group{
    margin:10px 0;
    background-color: var(--whiteColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.grp-header{
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.grp-header:hover{
    color: var(--goldColor);
    animation: shake 0.1s 2 ease;
    -webkit-animation: shake 0.1s 2 ease;
    -moz-animation: shake 0.1s 2 ease;
}

@keyframes shake {
    0%{
        transform: translateX(2px);
        -webkit-transform: translateX(2px);
        -moz-transform: translateX(2px);
    }
    100%{
        transform: translateX(-2px);
        -webkit-transform: translateX(-2px);
        -moz-transform: translateX(-2px);
    }
}

.line{
    margin: 25px 0;
    width:100px;
    height: 2px;
    border-radius: 15px;
    background-color: var(--greenColor);
}

.business-grp-content{
    width: 80% !important;
    position: relative;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 450px));
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}
.business-grp-content a{
    text-decoration: none;
}
.buss-web-crd{
    /* border: 1px solid; */
    padding: 10px;
    width: 100% !important;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.buss-vedio{
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.buss-vedio video{
    border: 1px solid var(--greenColor);
    width: 100%;
    max-height: 100%;
}
.web-crd-heading{
    width: 100%;
    align-self: flex-start;
}
.web-crd-heading h6{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--greenColor);
    font-weight: 400;
}
.buss-web-crd:hover .web-crd-heading h6{
    color: var(--goldColor);
}

a{
    text-decoration: none;
}

#construction{
        transform: scale(0.9);
}

.owl-nav{
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-30%);
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-nav button span{
    font-size: 62px;
    font-weight: 300;
    color: var(--darkWhite1);
}
.owl-nav button span:hover{
    color: var(--goldColor);
}

.owl-dots{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none !important;
}
/* 
.owl-dots .owl-dot{
    outline: 1px solid var(--greenColor);
    display: inline-block;
    width: 15px;
    height: 1px;
    margin-right: 5px;
    background-color: var(--greenColor);
    z-index: 5;
    border-radius: 15px;
}

.owl-dots .owl-dot.active{
    background-color: var(--greenColor);
} */

@media only screen and (max-width : 1300px){
    .business-grp-content{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 750px){
    .business-grp-content{
        width: 80% !important;
    }
    
}

@media screen and (max-width: 450px){
    .business-grp-content{
        width: 90% !important;
    }

}
